
<ion-header>
 
  <ion-toolbar color="primary">
      <ion-buttons start>
      <ion-item style="background-color: transparent;border: none">
          <ion-avatar item-start>
            <img [src]="pacienteDTO.photo">            
          </ion-avatar>
          {{pacienteDTO.paciente.apelido || pacienteDTO.paciente.nome}}
        </ion-item>
      </ion-buttons>
<ion-title>Eventos</ion-title>
          <ion-buttons end>
              <button ion-button icon-only color="light" (click)="goHome()">
                <ion-icon name="arrow-back"></ion-icon>
              </button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-fab middle right>
    <button ion-fab mini (click)="addEvento()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <ion-item-sliding *ngFor="let eventopaciente of eventopacientes">
        <ion-item>
          <ion-icon [name]="eventopaciente.icon" item-start></ion-icon>
          <h2>{{eventopaciente.evento}}</h2>
          <p *ngFor="let detalhe of eventopaciente.detalhes">
          {{detalhe}}
          </p>
        
          <p>Cuidador: {{eventopaciente.cuidador}}</p>
          <ion-note item-end><p>{{eventopaciente.data}}</p><p>{{eventopaciente.hora}}</p></ion-note>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="eye"></ion-icon>
              Editar
            </button>
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Excluir
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
</ion-content>